body {
  display: flex;
  background-image: url('/media/layouts/code_background.jpg');
  min-height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
}
  
.title-bg {
    text-align: center;
    padding-top: 10rem;
    font-size: 2.4rem;
}

.neon-txt {
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
}

.description-portfolio {
    padding-top: 0.5rem;
    text-align: center;
    width: 100%;
    font-size: 0.96rem;
  }

.btn-content {
  display: flex;
  padding-inline: 10%;
  justify-content: space-evenly;
  padding-top: 20vh;
}

.btn-bg {
  font-size: 1.1rem;
  height: 5.2rem;
  width: 14rem;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border: #fff 3px solid;
  box-shadow: inset 0 0 0.8rem 0 #0073e6, 0 0 0.8rem 0 #0073e6;
}

.btn-bg:hover{
  cursor: pointer;
  color: #0073e6;
  background-color: rgba(255, 255, 255, 0.8);
}