.box-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.box{
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-bottom: 2rem;
    margin-inline: 1rem;
    padding-inline: 0.2rem;
    padding-top: 0.8rem;
    color: black;
    width: 18rem;
}

.box-img-container {
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-img {
    max-height: 12rem;
    padding-block: 0.2rem;
    object-fit: cover;
    margin: 0 auto;
    display: block;
    max-width: 100%;
}

.box-title {
    text-align: center;
    font-size: 0.96rem;
    padding-block: 0.6rem;
}

@media(max-width: 350px){
    .box-img {
        height: 10rem;
    }
    .box {
        margin-inline: 0;
    }
}

@media(max-width: 450px){
    .box-img {
        height: 10rem;
    }
    .box {
        margin-inline: 0;
    }
}