@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, sans-serif;
}
#container{
    width: 100vw;
    min-height: 100vh;
    background-color: #fafafa;
    max-width: 768px;
    margin: 0 auto;
    padding-inline: 10%;
}