@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, sans-serif;
}

#container{
    width: 100%;
    min-height: -webkit-fill-available;
    max-width: 1148px;
    margin: 0 auto;
    padding-inline: 10%;
}

body{
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 29%, rgba(9,9,121,1) 98%, rgba(10,22,255,1) 100%);
}

main {
    background-color: #fafafa;
}

a {
    text-decoration: none;
}